html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

ul,
li,
a {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.dec-non {
  text-decoration: none;
}

img {
  display: block;
}

body {
  padding-top: 80px;
  background-color: #ffffff;
  color: #757575;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.section {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 95px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.secret {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.container {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  margin: auto;
  margin-left: 95px;
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
}

.site-nav:last-child {
  margin-right: 0;
}

.site-nav__link {
  position: relative;
  display: block;
  padding: 32px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:focus, .site-nav__link:hover {
  color: #2196f3;
}

.site-nav__link.current {
  color: #2196f3;
}

.auth-nav__info {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.auth-nav {
  margin-left: auto;
  display: flex;
  align-items: baseline;
  margin-top: 0;
  margin-bottom: 0;
}

.auth-nav__info {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav:focus, .auth-nav:hover {
  color: #2196f3;
}

.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}

.auth-nav__icon {
  margin-right: 10px;
  fill: #757575;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__smartphone {
  margin-bottom: -3px;
}

.auth-nav__envelope {
  margin-bottom: -1px;
}

.auth-nav__info:hover, .auth-nav__info:focus {
  color: #2196f3;
}

.auth-nav__info:hover .auth-nav__icon,
.auth-nav__info:focus .auth-nav__icon {
  fill: #2196f3;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.header__logo {
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: black;
}

.header__web {
  color: #2196f3;
}

.heroes {
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url(../images/Img-fon.jpg);
  background-color: #2f303a;
}

.heroes__section {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.heroes__header {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.heroes__button {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  box-sizing: border-box;
  align-items: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.heroes__button:hover, .heroes__button:focus {
  background-color: #006eff;
}

.peculiarities__list {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #212121;
}

.peculiarities__description {
  text-align: center;
  text-align: left;
  width: 270px;
}

.peculiarities__description:not(:last-child) {
  margin-right: 30px;
}

.peculiarities__decor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.peculiarities__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.peculiarities__paragraph {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #757575;
}

.performance {
  text-align: center;
  padding-bottom: 95px;
}

.performance__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.performance__list {
  margin: 0;
  display: flex;
}

.performance__description:not(:last-child) {
  padding-right: 30px;
}

.performance__card {
  position: relative;
}

.performance__fon {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding: 8px;
  width: 100%;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.performance__img-text {
  font-style: normal;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__list {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.team__description {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.team__description:not(:last-child) {
  margin-right: 30px;
}

.team__works {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__employee {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.team__speciality {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.social-media {
  display: flex;
  align-items: center;
  margin: auto;
  width: 206px;
}

.social-media__logo:not(:last-child) {
  margin-right: 10px;
}

.social-media__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:hover, .social-media__link:focus {
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.social-media__link a {
  width: 20px;
  height: 20px;
}

.social-media__icon {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media__link:focus .social-media__icon,
.social-media__link:hover .social-media__icon {
  fill: #ffffff;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.clients__list {
  display: flex;
}

.clients__group:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  background-color: #ffffff;
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__icon {
  margin-top: auto;
  margin-bottom: auto;
  max-width: 106px;
  max-height: 60px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:focus .clients__icon,
.clients__link:hover .clients__icon {
  fill: #2196f3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(90deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  transform: translate(-50%, -50%);
  transition: transform 250ms linear;
}

.modal__close {
  display: flex;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  margin: 8px;
  width: 30px;
  height: 30px;
  box-sizing: inherit;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: box-shadow fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close:hover, .modal__close:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: #2196f3;
}

.modal__sign {
  align-items: center;
  justify-content: center;
}

.modal__sign h2 {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.form {
  width: 448px;
  height: 342px;
}

.form__field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.form__field textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field textarea:focus {
  outline: 0;
  outline-offset: 0;
}

.form__field textarea:focus,
.form__field textarea:hover {
  border: 1px solid #2196f3;
}

.form__field ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.01em;
}

.form__input {
  padding: 12px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: 0;
  outline-offset: 0;
}

.form__field .form__input:focus,
.form__field .form__input:hover {
  border: 1px solid #2196f3;
}

.form__icons {
  position: absolute;
  top: 29px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus + .form__icons {
  fill: #2196f3;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 27px;
  margin-bottom: 30px;
}

.checkbox__conditions {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition-property: border-color background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox__text::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-60%);
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
}

.checkbox__conditions:checked ~ .checkbox__text::before {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url(../images/icon.check.svg);
  background-origin: content-box;
}

.checkbox__treaty {
  color: #2196f3;
}

.modal__button {
  display: block;
  border: none;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  transition-property: background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button:hover, .modal__button:focus {
  background-color: #006eff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

footer {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: #2f303a;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__conteainer {
  display: flex;
  align-items: baseline;
}

.footer__address {
  margin-right: 70px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__web {
  color: #2196f3;
}

.footer__nav > .footer__info:not(:last-child) {
  margin-bottom: 9px;
}

.footer__info {
  display: block;
}

.footer__auth {
  text-decoration: none;
  color: white;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__auth:focus, .footer__auth:hover {
  color: #2196f3;
}

.footer__infoLink {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__infoLink:focus, .footer__infoLink:hover {
  color: #2196f3;
}

.footer-media {
  margin-right: 93px;
}

.footer-media__strong {
  margin-bottom: 20px;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footerSoc {
  display: flex;
  width: 206px;
  height: 44px;
}

.footerSoc__item:not(:last-child) {
  margin-right: 10px;
}

.footerSoc__icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footerSoc__icon:hover, .footerSoc__icon:focus {
  background-color: #2196f3;
}

.footerSoc__svg {
  margin: auto;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.subscription {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 570px;
  height: 86px;
}

.subscription__label {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscription__input {
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__input:focus {
  outline: 0;
  outline-offset: 0;
}

.subscription__input:focus, .subscription__input:hover {
  border: 1px solid #2196f3;
}

.subscription__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscription__button {
  border: none;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  transition-property: background-color box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription__button:hover, .subscription__button:focus {
  background-color: #006eff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription__icons {
  fill: #ffffff;
}

.section-project {
  padding-top: 95px;
  padding-bottom: 95px;
}

.section-project__conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.filter {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
  margin-right: auto;
  align-items: center;
}

.filter .filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  box-sizing: border-box;
  min-width: 70px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  transition-property: background-color filter color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.project {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  padding: 0;
}

.cards {
  margin-right: 30px;
  margin-bottom: 30px;
  transition-property: filter;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: calc((100% - 60px) / 3);
  background-color: white;
}

.cards:nth-child(3n) {
  margin-right: 0px;
}

.cards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cards__link {
  text-decoration: none;
}

.cards__effect {
  position: relative;
  overflow: hidden;
}

.cards__textBox {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards:hover .cards__textBox {
  transform: translateY(0);
}

.cards__text {
  padding: 63px, 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.cards__border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.cards__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.cards__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */