$primary-Tcolor: rgba(117, 117, 117, 1);
$title-Tcolor: rgba(33, 33, 33, 1);
$foorer-Tcolor: rgba(255, 255, 255, 0.6);
$accent-color: rgba(33, 150, 243, 1);
$primary-Wcolor: #ffffff;
$footer-Acolor: rgba(255, 255, 255, 1);
$primary-Bcolor: rgba(47, 48, 58, 1);
$primary-Buttcolor: rgba(245, 244, 250, 1);
$color-HoVbootton: rgb(25, 170, 250);
$portfolio-color: rgba(238, 238, 238, 1);
$primary-fill: rgba(175, 177, 184, 1);
$primary-cardscolor: rgba(33, 150, 243, 0.9);
$transition: 250ms;


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.list {
  list-style: none;
}

ul,
li,
a {
  
  list-style: none;
  padding: 0;
  margin: 0;
}



h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.dec-non {
  text-decoration: none;
}

img {
  display: block;
}

body {
  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
  padding-top: 80px;
  background-color: $primary-Wcolor;
  color: $primary-Tcolor;
  font-family: "Roboto", sans-serif;
  margin: 0;
}



.section {
  text-align: center;
  padding-top: 95px;
  padding-bottom: 95px;
}


.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}


