.clients {
    &__title {
        @media screen and (max-width: 1200px) {
            font-weight: 700;
            font-size: 28px;
            margin-bottom: 30px;
        }

        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        margin-bottom: 50px;
        text-align: center;
        letter-spacing: 0.03em;
        color: $title-Tcolor;
    }

    &__list {
        display: flex;

    
                @media screen and (max-width: 1199px) {
                    justify-content: center;
                    margin: -15px;
                    flex-wrap: wrap; 
                }
               
         }


    &__group {
        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            }

         
                @media screen and (max-width: 1199px){
                    margin: 15px;
                }
             

            @media screen and (min-width: 1199px){ 
                &:not(:last-child) {
                margin-right: 30px;
            }

            }
    }

    &__link {
        @media screen and (max-width: 1199px){
            width: 226px;
        }

        @media screen and (max-width: 767px){
            width: 210px;
             
        }



        display: flex;
        justify-content: center;
        width: 170px;
        height: 92px;
        border: 1px solid $primary-fill;
        background-color: $primary-Wcolor;
        border-radius: 4px;


        transition-property: border-color;
        transition-duration: $transition;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            border: 1px solid $accent-color;
        }
    }

    &__icon{
        margin-top: auto;
        margin-bottom: auto;
        max-width: 106px;
        max-height: 60px;
        fill: rgba(175, 177, 184, 1);
      
        transition-property: fill;
        transition-duration: $transition;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        .clients__link:focus &,
        .clients__link:hover & {
            fill: $accent-color;
        }
    }
}