.button-mobmenu {
  @media screen and (min-width: 768px) {
    display: none;
  }

  z-index: 55;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  transition-property: fill;
  transition-duration: $transition;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.mob-menu {
  @media screen and (max-width: 400px) {
    padding: 38px 30px;
  }
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $primary-Wcolor;
  z-index: 999;

  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;

  &.is-open {
    transform: translateY(0);
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 15px;
}

.adaptiv {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-nav {
  display: inline-flex;
  flex-direction: column;

  &__item {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &__link {
    position: relative;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $title-Tcolor;

    transition-property: color;
    transition-duration: $transition;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      color: $accent-color;
    }

    &.current {
      color: $accent-color;
    }
  }
}

.contacts {
  &__item {
    &:nth-child(2) {
      @media screen and (max-width: 400px) {
        margin-bottom: 28px;
      }
      margin-bottom: 64px;
    }

    &:nth-child(1) {
      @media screen and (max-width: 400px) {
        margin-bottom: 28px;
      }
      margin-bottom: 32px;
    }
  }

  &__info {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: $primary-Tcolor;
    transition-property: color;
    transition-duration: $transition;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__tel {
    transition-property: color;
    transition-duration: $transition;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: rgb(0, 110, 255);
    }
    @media screen and (max-width: 400px) {
      font-size: 33px;
    }
    @media screen and (max-width: 360px) {
      font-size: 29px;
    }

    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}

.mob-media {
  display: flex;
  margin: -10px;

  &__item {
    margin: 10px;
  }
}

.mob-media__link {
  position: relative;
  @media screen and (max-width: 420px) {
    font-size: 15px;
  }

  @media screen and (max-width: 360px) {
    font-size: 12px;
  }

  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: $accent-color;

  transition-property: color;
  transition-duration: $transition;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: rgb(0, 110, 255);
  }
}
.active {
  color: $accent-color;
}

.sol {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 21%;
    right: 100%;
    display: block;
    width: 22px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);
  }
}
