.peculiarities {
    &__list {
        @media screen and (max-width: 767px) {
            display: block;  
            
            }

            @media screen and (min-width: 768px) { 
                flex-wrap: wrap;
                margin: -15px;
            
            }

            @media screen and (min-width: 1200px) {
                flex-wrap: nowrap;
            }


           

        display: flex;
        
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        color: $title-Tcolor;
    }

    &__description{
        text-align: center;
        text-align: left;
     

        @media screen and (max-width: 767px) {
            width: 450px;
            @media screen and (min-width: 300px)and (max-width: 479px){
                width: 345px;
                margin-left: auto;
                margin-right: auto;
            } 
            
            &:not(:last-child){
                margin-bottom: 30px;
            }
            }

            @media screen and (min-width: 768px) {
                width: 354px; 
                height: 251px;
                margin: 15px;
            
            }



        @media screen and (min-width: 1200px) {
            width: 270px;
           
            &:not(:last-child){
                margin-right: 30px;
            }
          }
      

    }

    &__decor{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        height: 120px;
        border-radius: 4px;
        background-color: $primary-Buttcolor; 
    }

    &__title{
        @media screen and (max-width: 767px) {
            text-align: center; 
             }

      
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.4;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $title-Tcolor;
    }
    &__paragraph{
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $primary-Tcolor;
    }
}