.team {

   

    background-color: $primary-Buttcolor;

    &__title {
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;

        letter-spacing: 0.03em;
        color: $title-Tcolor;
    }

    &__list {
        @media screen and (max-width: 767px) {
        display: block; }

        @media screen and (min-width: 768px) {
         
        @media screen and (max-width: 1199px) {
            justify-content: center;
            margin: -15px;
            flex-wrap: wrap; 
        }
       
    }


        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        display: flex;
    }

    &__description {

        @media screen and (min-width: 1200px){
            width: 270px;
        }
     

        border-radius: 0px 0px 4px 4px;
        box-shadow: (0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2));
        background-color: $footer-Acolor;

       
      



        @media screen and (max-width: 767px) {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            }

            @media screen and (min-width: 768px) {
                @media screen and (max-width: 1199px){
                    margin: 15px;
                }
                }

            @media screen and (min-width: 1199px){ 
                &:not(:last-child) {
                margin-right: 30px;
            }

            }
      
    }

    &__works {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__employee {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $title-Tcolor;
    }

    &__speciality {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 16px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: 0.03em;
    }
}

.social-media {
    display: flex;
    align-items: center;
    margin: auto;
    width: 206px;

    &__logo {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;

        transition-property: background-color;
        transition-duration: $transition;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: $accent-color;
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }

        a {
            width: 20px;
            height: 20px;
        }


    }

    &__icon {
        margin: auto;
        width: 20px;
        height: 20px;
        fill: $primary-fill;

        transition-property: fill;
        transition-duration: $transition;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        
    .social-media__link:focus &,
     .social-media__link:hover & {
         fill:$primary-Wcolor;
     }

    }

}